In [25]:
# import required libraries

In [26]:
import numpy as np
import pandas as pd

In [27]:
df=pd.read_csv('./datasets/groupStudy.csv')
df.head()

  Position  Hours of study  Marks scored
0  Group-1               1            45
1  Group-2               2            50
2  Group-3               3            60
3  Group-4               4            80
4  Group-5               5           110

In [28]:
X=df['Hours of study'].values
X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [29]:
y=df.iloc[:,2].values
y

array([  45,   50,   60,   80,  110,  150,  200,  300,  500, 1000],
      dtype=int64)

In [30]:
# Fit the data into decision tree regressor

In [31]:
from sklearn.tree import DecisionTreeRegressor

In [32]:
regressor=DecisionTreeRegressor()

In [33]:
regressor.fit(X.reshape(-1,1),y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [34]:
y_predicted=regressor.predict(np.array([11]).reshape(-1,1))
y_predicted

array([1000.])