In [27]:
# import required libraries

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import *

In [29]:
# inline plotting

In [30]:
%matplotlib inline

In [31]:
# import the dataset

In [32]:
df=pd.read_csv('./datasets/HousingData.csv')
df.head()

   Purchase time passed(1990)  Pricing
0                         1.1    39343
1                         1.2    46205
2                         1.5    37731
3                         2.0    43525
4                         2.2    39891

In [33]:
# separate dependent and independent matrix

In [34]:
X=df.iloc[:,:-1].values
X

array([[ 1.1],
       [ 1.2],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.8],
       [ 3. ],
       [ 3.2],
       [ 3.3],
       [ 3.8],
       [ 3.9],
       [ 4. ],
       [ 4.1],
       [ 4.2],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.5],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.3],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [35]:
x=df.iloc[:,1].values
x

array([ 39343,  46205,  37731,  43525,  39891,  56642,  60150,  54445,
        64445,  57189,  63218,  55794,  56957,  57081,  61111,  67938,
        66029,  83088,  81363,  93940,  91738,  98273, 101000, 113122,
       109211, 105311, 116611, 112422, 122432, 123322], dtype=int64)

In [36]:
# check if there is any missing values
df[(df['Purchase time passed(1990)']==np.NaN)|(df['Pricing']==np.NaN)]

Empty DataFrame
Columns: [Purchase time passed(1990), Pricing]
Index: []

In [37]:
# create training and test datasets for independent and dependent matrix

In [38]:
X_train, X_test, x_train, x_test = train_test_split(X,x,test_size=0.3)

In [39]:
X_train

array([[3.2],
       [4.5],
       [2.8],
       [9.6],
       [1.5],
       [3. ],
       [5.5],
       [4.1],
       [8.7],
       [9.5],
       [9. ],
       [5.9],
       [4.9],
       [1.2],
       [1.1],
       [7.3],
       [3.8],
       [4.2],
       [6.8],
       [3.3],
       [2.2]])

In [40]:
X_test

array([[ 4. ],
       [ 3.9],
       [ 7.9],
       [10.5],
       [ 5.1],
       [ 8.2],
       [ 6. ],
       [ 2. ],
       [10.3]])

In [41]:
x_train

array([ 54445,  61111,  56642, 112422,  37731,  60150,  83088,  56957,
       109211, 116611, 105311,  81363,  67938,  46205,  39343,  98273,
        57189,  57081,  91738,  64445,  39891], dtype=int64)

In [42]:
x_test

array([ 55794,  63218, 101000, 123322,  66029, 113122,  93940,  43525,
       122432], dtype=int64)

In [44]:
# Feature Scaling of just X - training and test datasets
# scale_X=StandardScaler()
# X_train=scale_X.fit_transform(X_train)
# X_train

In [45]:
# Feature Scaling is not required USUALLY in linear regression

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
regressor=LinearRegression()

In [53]:
regressor.fit(X_train,x_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
# create a predictor to predict

In [55]:
x_predictor=regressor.predict(X_test)

In [56]:
x_predictor

array([168231.1061106 , 165807.64393403, 262746.13099701, 325756.14758795,
       194889.19005292, 270016.51752673, 216700.34964209, 119761.86257911,
       320909.2232348 ])

In [57]:
x_test

array([ 55794,  63218, 101000, 123322,  66029, 113122,  93940,  43525,
       122432], dtype=int64)